body{
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
}

/* ------------------------------------------------ */

.formContainer{
    background-color: rgb(190, 133, 255);
    padding: 25px;
    width: 50%;
    border: 3px solid black;
    margin: 0 auto;
}

input{
    border: 1px solid black;
    padding: 5px;
}

.dataIn{
    background-color: rgb(240, 255, 174);
}
